body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(rgba(219,177, 205, 0.03), #dbb1cd 60%);
}
.container {
  width: 600px;
  margin: 0 auto;
}
fieldset {
  display: block;
  border: 0px;
  padding: 30px;
}
.input-box, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;

.input-box:focus {
  border-bottom:1px solid #ddd;
}
.submit-button {
  background-color: transparent;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
}
.submit-button:hover {
  border:2px solid #515151;
}
p {
  
}
input[type="submit"]
{
  border-radius: 2px;
  border-color: #808080;
}